---
layout: default
---

{%- assign _sections = site.sections | sort: 'order' -%}
{%- include header.html scrolly_nav=_sections -%}
{%- include header.html -%}

<!-- Main -->
<div id="main">
	<!-- Page -->
	<article class="shade-two">
	  <div class="container">
			<header>
				<h2>{{- page.title -}}</h2>
				{%- if page.subtitle -%}<p>{{- page.subtitle -}}</p>{%- endif -%}
			</header>
	    {{- content -}}
	  </div>
	</article>
		<!-- Sections -->
	{%- for _section in _sections -%}
		{%- include section.html title=_section.title photo=_section.cover-photo photo-alt=_section.cover-photo-alt auto-header=_section.auto-header content=_section.content -%}
	{%- endfor -%}
</div>